.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.844727;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.857910;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.677246;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:2.992000px;}
._1{width:51.744000px;}
.fc3{color:rgb(5,99,193);}
.fc2{color:rgb(0,0,0);}
.fc1{color:rgb(90,90,90);}
.fc0{color:rgb(47,84,150);}
.fs1{font-size:44.000000px;}
.fs0{font-size:64.000000px;}
.y1d{bottom:75.942016px;}
.y19{bottom:95.500000px;}
.y0{bottom:231.500000px;}
.y18{bottom:233.059997px;}
.y17{bottom:255.550994px;}
.y20{bottom:269.235991px;}
.y16{bottom:278.041991px;}
.y1e{bottom:288.500000px;}
.y15{bottom:323.024008px;}
.y14{bottom:338.099997px;}
.y1c{bottom:352.026000px;}
.y13{bottom:353.175985px;}
.y12{bottom:368.252005px;}
.y11{bottom:383.327993px;}
.y10{bottom:406.403991px;}
.yf{bottom:428.895010px;}
.ye{bottom:443.970999px;}
.yd{bottom:459.047003px;}
.yc{bottom:474.123007px;}
.yb{bottom:489.198996px;}
.ya{bottom:504.275000px;}
.y9{bottom:519.351004px;}
.y1f{bottom:522.800994px;}
.y1b{bottom:523.464004px;}
.y8{bottom:534.426992px;}
.y7{bottom:557.503005px;}
.y6{bottom:579.993996px;}
.y5{bottom:594.484997px;}
.y4{bottom:608.975997px;}
.y3{bottom:631.467002px;}
.y2{bottom:676.449000px;}
.y1{bottom:692.766001px;}
.y1a{bottom:709.526000px;}
.h1{height:0.500000px;}
.h4{height:29.906250px;}
.h3{height:31.582031px;}
.h2{height:42.656250px;}
.h6{height:431.500000px;}
.h5{height:602.500000px;}
.h0{height:792.000000px;}
.w1{width:392.500000px;}
.w2{width:395.500000px;}
.w3{width:416.500000px;}
.w0{width:612.000000px;}
.x0{left:72.000000px;}
.x1{left:90.000000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:3.989333pt;}
._1{width:68.992000pt;}
.fs1{font-size:58.666667pt;}
.fs0{font-size:85.333333pt;}
.y1d{bottom:101.256021pt;}
.y19{bottom:127.333333pt;}
.y0{bottom:308.666667pt;}
.y18{bottom:310.746662pt;}
.y17{bottom:340.734659pt;}
.y20{bottom:358.981322pt;}
.y16{bottom:370.722655pt;}
.y1e{bottom:384.666667pt;}
.y15{bottom:430.698677pt;}
.y14{bottom:450.799995pt;}
.y1c{bottom:469.368000pt;}
.y13{bottom:470.901314pt;}
.y12{bottom:491.002673pt;}
.y11{bottom:511.103991pt;}
.y10{bottom:541.871988pt;}
.yf{bottom:571.860013pt;}
.ye{bottom:591.961332pt;}
.yd{bottom:612.062670pt;}
.yc{bottom:632.164009pt;}
.yb{bottom:652.265327pt;}
.ya{bottom:672.366666pt;}
.y9{bottom:692.468005pt;}
.y1f{bottom:697.067992pt;}
.y1b{bottom:697.952005pt;}
.y8{bottom:712.569323pt;}
.y7{bottom:743.337340pt;}
.y6{bottom:773.325328pt;}
.y5{bottom:792.646662pt;}
.y4{bottom:811.967996pt;}
.y3{bottom:841.956003pt;}
.y2{bottom:901.932000pt;}
.y1{bottom:923.688001pt;}
.y1a{bottom:946.034667pt;}
.h1{height:0.666667pt;}
.h4{height:39.875000pt;}
.h3{height:42.109375pt;}
.h2{height:56.875000pt;}
.h6{height:575.333333pt;}
.h5{height:803.333333pt;}
.h0{height:1056.000000pt;}
.w1{width:523.333333pt;}
.w2{width:527.333333pt;}
.w3{width:555.333333pt;}
.w0{width:816.000000pt;}
.x0{left:96.000000pt;}
.x1{left:120.000000pt;}
}
